body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    align-content: center;
    margin-top: 100px;
    margin-bottom: auto;
}

#board {
    margin-left: auto;
    margin-right: auto;
}

#startBtn,
#clearBtn,
#getMove,
#getFen {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

#fenDisplay {
    display: none;
}

#fenInput {
    margin-top: 20px;
    font-size: 16px;
    border: none;
    margin-right: 10px;
}

#bestMoveDisplay {
    margin-top: 20px;
    font-size: 16px;
}
